* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background: #0b1218;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8%;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}
.logo span { color: #6ee7e0; }

.nav-links a {
  margin-left: 22px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
}

/* side */
.side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 8%;
}

.code-box {
  width: 220px;
  height: 220px;
  border: 2px solid #6ee7e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #6ee7e0;
}

.side-right h1 {
  font-size: 42px;
}
.side-right span { color: #6ee7e0; }
.side-right h2 {
  font-size: 32px;
  color: #94a3b8;
  margin: 10px 0;
}

.tech span {
  margin-right: 14px;
  font-size: 13px;
  color: #cbd5e1;
}

/* STRIP */
.strip {
  text-align: center;
  padding: 14px;
  border-top: 1px solid #1e293b;
  border-bottom: 1px solid #1e293b;
  font-size: 12px;
  color: #94a3b8;
}

/* SECTIONS */
.section {
  padding: 90px 8%;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.section h2 span { color: #6ee7e0; }

/* ABOUT */
.about-content {
  display: flex;
  gap: 40px;
}
.about-box {
  width: 160px;
  height: 160px;
  background: linear-gradient(135deg, #6ee7e0, #38bdf8);
}

/* EXPERIENCE */
.item {
  margin-bottom: 30px;
}
.date {
  font-size: 12px;
  color: #6ee7e0;
}

/* FORMATION */
.formation-list {
  display: grid;
  gap: 18px;
}
.formation-item {
  padding: 18px;
  background: #0f172a;
  border-left: 3px solid #6ee7e0;
}

/* PROJECTS */


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px; 
    padding: 20px;
    border-radius: 12px;
    margin: 20px 0;
    
}


.project-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    

    background: #0f1c38; 
    padding: 25px;
    border-radius: 16px;
    cursor: pointer;

    transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease,
         margin-right 2s,
color 1s;
}


.project-card:hover {
    transform: translateY(40px) scale(1.03);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
    background: #183b81; 
}


.project-card:hover h3 {
    color: #ff4d2d;
}


.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    line-height: 1.5;
    color: #d1d9ff; 
}



/* CONTACT */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contact-grid a {
  padding: 16px;
  border: 1px solid #1e293b;
  text-decoration: none;
  color: #cbd5e1;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  font-size: 12px;
  color: #94a3b8;
}
